In [2]:
import pandas as pd

In [3]:

column_names = ['Letra', 'Numero', 'Fecha', 'Serie','Codigo']
data = pd.read_csv("../files/input/data.csv",
    sep="	",
    names = column_names
    # thousands=None,
    # decimal=".",
)
data.head()

  Letra  Numero       Fecha    Serie                          Codigo
0     E       1  1999-02-28    b,g,f  jjj:12,bbb:3,ddd:9,ggg:8,hhh:2
1     A       2  1999-10-28    a,f,c         ccc:2,ddd:0,aaa:3,hhh:9
2     B       5  1998-05-02  f,e,a,c        ddd:2,ggg:5,ccc:6,jjj:12
3     A       3  1999-08-28      a,b         hhh:9,iii:5,eee:7,bbb:1
4     C       6  1999-12-01  f,g,d,a        iii:6,ddd:5,eee:4,jjj:12

In [4]:
suma = data['Numero'].sum()
suma

214